form.search-input {
    width: 100%;
    position: relative;
}
form.search-input input {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
}
form.search-input input, form.search-input div.preliminary-results div {
    padding: 5px;
}
form.search-input button:first-of-type {
    display: none;
}
form.search-input div.preliminary-results button {
    border: none;
    background: none;
    border-bottom: 1px black solid;
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
}
form.search-input div.preliminary-results button:focus, form.search-input div.preliminary-results button:hover {
    background-color: lightcyan;
    color: blue;
}
form.search-input div.preliminary-results {
    margin-top: 5px;
    position: absolute;
    width: 100%;
    border: 1px black solid;
    border-bottom: none;
    visibility: hidden;
    background-color: lightblue;
    z-index: 1;
}
form.search-input span {
    background-color: gray;
    padding: 5px;
    max-width: 100%;
}
form.search-input span button {
    background: none;
    border: none;
    padding: none;
}
form.search-input div.error {
    color: red;
    text-align: center;
    font-size: 90%;
}
form.search-input div.loading {
    font-size: 90%;
}